<div class="table-scores-container">
    <table *ngIf="scores.length > 0">
        <tr *ngFor="let score of scores">
            <div class="row-scores">
                <th><img alt="logo-team" [src]="score.teams.home.logo" class="logo-ranking" /></th>
                <th>{{ score.teams.home.name }}</th>
                <th>{{ score.goals.home }}</th>
                <th>-</th>
                <th>{{ score.goals.away }}</th>
                <th>{{ score.teams.away.name }}</th>
                <th><img alt="logo-team" [src]="score.teams.away.logo" class="logo-ranking" /></th>
            </div>
        </tr>
    </table>
</div>
