.table-scores-container{
    margin-top: 24px;
}

.row-scores{
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.logo-ranking{
    width: 30px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
  }